@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
  @import "search";
  @import "animations";
}

@layer utilities {
  @import "utilities";
}

/* :root {
  --background-color: white;
  --text-color: black;
}

.dark {
  --background-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
} */
