@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
  @import "animations";
}

@layer utilities {
  @import "utilities";
}

/* Define CSS variables for light and dark modes */
:root {
  --scrollbar-bg: #f0f0f0;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-bg: #333;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-hover: #888;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); /* Use variable for track background */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-thumb
  ); /* Use variable for the thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid var(--scrollbar-bg); /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover); /* Darken thumb on hover */
}
